
    
header{
    width: 309.875x;
    height: 50px;
    background-color: rgb(163, 174, 194);
    text-align: left;
}


body {
    background-color: rgb(247, 247, 247);
}


h1 {
    text-align: center;
    font-family: Verdana;
}

section {
    text-align: center;
}

form {
    text-align: center;
    
}

p{
    font-size: 12px;
    font-family: Verdana;
    text-align: center;
}

label {
    font-family: Verdana;
    text-align: left;
}


img {
    text-align: center;

 
  }


.logo {
    width: 20px;
    height: 25px;


 
}
.tarjeta {
    width: 350px;
    height: 50px;
 
}




input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 0.02px solid #131313;
    font-size: 20px;
    font-family: Verdana; 
    text-align: center;  
    margin: auto; 
}


.botonRespuestas {
    display:flex;
    justify-content:center;
    align-items: center;
}

button {
    width: 350px;
    height: 50px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #131313;
    font-size: 20px;
    font-family: Verdana;
    text-align: center; 
    color: #ffffff;
    padding: auto; 
}


footer{
    width: 309.875x;
    height: 50px;
    background-color: rgb(163, 174, 194);
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana;
    text-align: center;
    padding: auto; 


}